/* Общие стили */
* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* Предотвращает скролл на уровне всего окна */
}

.app {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  background-color: #f6c686;
  width: 100vw;
  height: 100vh;
  overflow: auto; /* Позволяет прокрутку */
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 20px;
  overflow: auto; /* Позволяет прокрутку внутри этого контейнера */
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
}

.control-group {
  margin-bottom: 2px;
}

.control-group label {
  display: block;
  margin-bottom: 5px;
}

.control-group input {
  background-color: #e6d6ad;
  border-radius: 50px;
}

input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15); /* Тень для шахматной доски */

}

.run-button {
  padding: 10px;
  background-color: #4caf50;
  border-radius: 30px;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Добавляем плавный переход */
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15); /* Тень для шахматной доски */

}

.run-button:hover {
  background-color: #388e3c; /* Цвет станет темнее при наведении */
}

.run-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}


.run-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.chess-board {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  width: 50vw; /* Используйте проценты для адаптивности */
  height: auto; /* Автоматическая высота для сохранения пропорций */
  aspect-ratio: 1 / 1; /* Сохраняет пропорции 1:1 */
  max-width: 500px; /* Ограничение максимальной ширины */
  max-height: 500px; /* Ограничение максимальной высоты */
  border: 2px solid black;
  border-radius: 50px;
  margin-left: 20px;
  overflow: hidden; /* Это важно для скругленных углов */
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15); /* Тень для шахматной доски */

}

.cell {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  transition: background-color 1s ease;
}

.cell .queen {
  opacity: 1;
}

.white {
  background-color: #edddb2;
}

.black {
  background-color: #a6bd68;
}

.queen {
  width: 100%;
  height: 100%;
  background-image: url('../public/queen.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  transition: opacity 1s ease;
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.cell .queen.entering {
  animation: fadeIn 1s ease;
}

.cell .queen.exiting {
  animation: fadeOut 1s ease;
}

.charts {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
  width: 50%;
  flex-wrap: nowrap;
}


